################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio Directories
.vs/

# Build results
**/bin/
**/obj/
